* {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  justify-content: center;
  background-color: #001c7033;
}

section {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 500px;
  justify-content: center;
  align-items: center;
  border: 2px solid #000;;
  background-color: #18448c55;
  border-radius: 20px;
}

h1 {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  color: #030c87;
  margin-bottom: 1.5rem;
}

form input {
  width: 220px;
  border: none;
  background-color: #5f769b55;
  padding: 0.5em;
  color: #fff;
}

form input:placeholder {
  color: #fff
}

form label {
  font-size: 1,2rem;
  color: white;
  margin-bottom: 1em;
}

form input[type="submit"] {
  background-color: #007dfa;
}